.modal {
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 100ch;
    height: 600px;
    top: 0;
    /* Positioniert das Modal oben im Viewport */
    left: 0;
    /* Positioniert das Modal links im Viewport */
    right: 0;
    /* Erweitert das Modal auf die gesamte Breite */
    bottom: 0;
    /* Erweitert das Modal auf die gesamte Höhe */
    z-index: 3000;
    /* Bringt das Modal in den Vordergrund */
    overflow-y: scroll;
  }

  .openBtn{
    cursor: pointer;
  }

  .modal-content {
    background-color: #ffffff;
    /* Hintergrundfarbe des Inhalts */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    /* Schatten */
    border: none;
    /* Entferne den Rahmen */
    /* margin: 15% auto; */
    margin-left: 10%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
  }

  .close, .closeBtn {
    color: #4CAF50;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus, .closeBtn:hover, .closeBtn:focus {
    color: red;
    cursor: pointer;
  }


  @media (max-width: 768px) {

    /* Anpassungen für Smartphones */
    .modal {
      max-width: 100vw;
    }

    .modal-content {
      max-width: 100vw;
      /* 100% Breite auf Smartphones */
      text-align: left;
    }
  }




  #tippenIframe {
    height: 300px;
  }
  #tippenIframeContainer{
    height: 400px;
  }

  .iframeRanglisteDetailansicht {
    height: 300px;
  }


  .modalNichtScrollbar {
    overflow-y: hidden;
  }