

#info {
	visibility: hidden;
}

/* Media Queries for responsiveness */
@media (max-width: 1289px) {
    .flex-card-wrapper {
      width: 100%; /* Set width to 100% for smaller screens */
      padding-left: 0px; /* Adjust padding for smaller screens */
    }
    .flex-card-wrapper .flex-card-container {
      /* Adjust styles for smaller screens here if needed */
    }

  }


  @media (max-width: 798px) {
    
	#info {
		margin: 0;
		visibility: visible;
	}

  }






