.buli-container {
    width: 100%; /* Passe die Breite an deine Bedürfnisse an */
    margin: 0 auto; /* Zentriert den Container */
    padding: 20px;
 
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="number"],
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50; /* Grün für einen positiven Button */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }









/* Paarungsergebnisse */

.buli-results{
  overflow-x: scroll;
}

.buli-results table {
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto;
  
}

.buli-results th, .buli-results td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.buli-results th {
  background-color: #f2f2f2;
}

.buli-results a {
  color: #337ab7;
  text-decoration: none;
}

.buli-results a:hover {
  text-decoration: underline;
}

.buli-results h2 {
  text-align: center;
}

/* Neue CSS-Klassen für die Logos */
.buli-results span.team { 
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.buli-results{
  display: block;
}
.teams{
  display: flex;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  float: left;
  /* text-align: center; */
  width: 100%;
  max-width: 500px;
  /* @media (max-width: 768px) { /* Passe den Breakpoint nach Bedarf an
    width: 100px;
  } */
}

.buli-results span.team:first-child{
  text-align: right;
}

.buli-results span.team:last-child{
  text-align: left;
}

.buli-results span.team img {
  
  /* position: absolute;
  top: 50%;
  left: -40px; /* Passe den Wert nach Bedarf an 
  transform: translateY(-50%);*/
  width: 30px; /* Passe die Größe nach Bedarf an*/ 
  height: 30px; 

  border-radius: 50%; /* Macht das Bild rund */
  /* Nur für größere Bildschirme anzeigen */
  /* @media (max-width: 768px) { /* Passe den Breakpoint nach Bedarf an 
      display: none;
  } */
}
.buli-results span.team p{
  	width: 175px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 0;
}

span.vs{
  width: 20px;
  /* margin-left: 10%;
  margin-right: 10%; */
  height: 3px;
  background-color: black;
}


/* Punkterangliste */
  
  .buli-table table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
  }
  
  .buli-table th, .buli-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .buli-table th {
    background-color: #f2f2f2;
  }
  
  .buli-table a {
    color: #337ab7;
    text-decoration: none;
  }
  
  .buli-table a:hover {
    text-decoration: underline;
  }

  .buli-table h2 {
    text-align: center;
  }







/* Rangliste */
  
.rangliste table {
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto;
}

.rangliste th, .rangliste td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.rangliste th {
  background-color: #f2f2f2;
}

.rangliste a {
  color: #337ab7;
  text-decoration: none;
}

.rangliste a:hover {
  text-decoration: underline;
}

.rangliste h2 {
  text-align: center;
}









/* Parungs Nutzer Punkte */



.paarungPunkte table {
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto;
}

.paarungPunkte tr, .paarungPunkte td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.paarungPunkte tr {
  background-color: #f2f2f2;
}

.paarungPunkte a {
  color: #337ab7;
  text-decoration: none;
}

.paarungPunkte a:hover {
  text-decoration: underline;
}

.paarungPunkte h2 {
  text-align: center;
}








#spieltagText {
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
  text-align: left;
}