.buli-container {
    width: 100%; /* Passe die Breite an deine Bedürfnisse an */
    margin: 0 auto; /* Zentriert den Container */
    padding: 20px;
 
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="number"],
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50; /* Grün für einen positiven Button */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }









/* Paarungsergebnisse */



  .buli-results table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
  }
  
  .buli-results th, .buli-results td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .buli-results th {
    background-color: #f2f2f2;
  }
  
  .buli-results a {
    color: #337ab7;
    text-decoration: none;
  }
  
  .buli-results a:hover {
    text-decoration: underline;
  }

  .buli-results h2 {
    text-align: center;
  }



/* Punkterangliste */
  
  .buli-table table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
  }
  
  .buli-table th, .buli-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .buli-table th {
    background-color: #f2f2f2;
  }
  
  .buli-table a {
    color: #337ab7;
    text-decoration: none;
  }
  
  .buli-table a:hover {
    text-decoration: underline;
  }

  .buli-table h2 {
    text-align: center;
  }







/* Rangliste */
  
.rangliste table {
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto;
}

.rangliste th, .rangliste td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.rangliste th {
  background-color: #f2f2f2;
}

.rangliste a {
  color: #337ab7;
  text-decoration: none;
}

.rangliste a:hover {
  text-decoration: underline;
}

.rangliste h2 {
  text-align: center;
}









/* Parungs Nutzer Punkte */



.paarungPunkte table {
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto;
}

.paarungPunkte tr, .paarungPunkte td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.paarungPunkte tr {
  background-color: #f2f2f2;
}

.paarungPunkte a {
  color: #337ab7;
  text-decoration: none;
}

.paarungPunkte a:hover {
  text-decoration: underline;
}

.paarungPunkte h2 {
  text-align: center;
}








#spieltagText {
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
  text-align: left;
}