.flex-card-wrapper
    width: 90rem
    max-width: 150rem
    height: 40rem
    max-height: 50rem
    display: flex
    flex-direction: row
    justify-content: center
    align-items: stretch

    .flex-card-container
        padding: 0 0 0 0
        height: 100%
        transition: 500ms all ease-in-out
        border-radius: 20px
        cursor: pointer
        overflow: hidden
        position: relative
        background-position: center center
        background-size: cover
        background-repeat: no-repeat
        margin: 0 0 0 0
        display: none

        &:last-child
            margin: 0 0 0 0
        &.active
            width: 80%
            margin-left: 1%
            margin-right: 1%
            display: block
        &.active.hochformat
            width: 30%
        &.unactive
            width: 5%
            display: block

.main
    flex-direction: column
    display: flex
    justify-content: center
    align-items: center

